@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as bp;
@use '../../../styles/keyframes/box-shadow.scss' as box;
@use '../../../styles/_flexbox.scss' as flex;


.indexContainer {
  @include flex.flexbox(column, flex-start, center);
  padding: 2.5rem;
  gap: 3em;
  height: 100vh;
  @include bp.breakpoint(md, min){
  @include flex.flexbox(column, center, center);
    gap: 1.2rem;
  }
}
