@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as bp;
@use '../../../styles/keyframes/box-shadow.scss' as box;

.default{
  text-transform: capitalize;
  width: 50%;
  height: 100%;
  max-height: 1.5rem;
  min-height: 1.5rem;
  cursor: pointer;
  background-color: $black-color;
  transition: all 0.3s ease-in-out;
  color: $white-color;
  font-family: var(--font-roboto-slab);
  &:hover {
    background-color: $black-color;
    color: $secondary-text;
    font-size: 1.2rem;
  }
}

.brow {
  @extend .default;
  color: $white-color;
  font-size: clamp( $lg, 1.1rem, $xl);
  padding: .5em;
  &:hover {
    @include box.boxsha(.2,.6, $white-color, em);
    backdrop-filter: hue-rotate(-80deg);
    color: $primary-text;
    max-height: calc($xl + 1.1em);
  }
}

//primary or secondary button button styles will apply to all buttons created
.primary {
  @extend .default;
  max-height: unset;
  min-height: unset;
}

.secondary {
  @extend .default;
  &:hover {
  }
}
.submit {
  @extend .default;
  text-transform: capitalize;
  height: 2rem;
  width: 100%;
  border-radius: 0 0 $medium-border-radius $medium-border-radius;
  cursor: grab;
  background-color: transparent;
  border: 1.5px groove $primary-text;
  color: $primary-text;
  max-width: 250px;
  &:hover{
    background-color: $primary-text;
    color: $secondary-text;
  }
  &:active{
    cursor: grabbing;
    background-color: transparent;
    color: $primary-text;
  }
  @include bp.breakpoint(md, min){
    width: 50%;
  }
}

.rightBrow{
  @extend .brow;
  border-radius: 0 $heavy-border-radius 0 0;
}

.leftBrow {
  @extend .brow;
  border-radius: $heavy-border-radius 0 0 0;
}
