@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as bp;
@use '../../../styles/keyframes/box-shadow.scss' as box;

.default{
  text-transform: capitalize;
  width: 50%;
  height: 100%;
  max-height: 1.5rem;
  min-height: 1.5rem;
  cursor: pointer;
  background-color: $black-color;
  transition: all 0.3s ease-in-out;
  color: $white-color;
  &:hover {
    background-color: $black-color;
    color: $secondary-text;
    font-size: 1.2rem;
  }
}

.brow {
  @extend .default;
  background-color: $secondary-text;
  color: $white-color;
  &:hover {
    @include box.boxsha(.2,.6, $secondary-text, em);
    background-color: $black-color;
    color: $primary-text;
    font-size: $lg;
  }
}

//primary or secondary button button styles will apply to all buttons created
.primary {
  @extend .default;
  color: red;
}

.secondary {
  @extend .default;
  &:hover {
  }
}

.rightBrow{
  @extend .brow;
  border-radius: 0 $heavy-border-radius 0 0;
}

.leftBrow {
  @extend .brow;
  border-radius: $heavy-border-radius 0 0 0;
}
