@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as bp;
@use '../../../styles/_flexbox.scss' as flex;

//observacion de sanidad
//si se renderiza un input, dentro de un label
//en autmatico se renderiza "" al rededor del texto label

.default {
  color: $primary-text;

  &:first-letter {
    text-transform: uppercase;
  }
}

.title{
  @extend .default;
  font-size: clamp( 3rem, 3.5rem, 4rem);
  font-weight: 600;
  text-align: center;
    color: $gold;
  @include bp.breakpoint(md, min){
    font-size: clamp( lg, 2rem, xl);
  }
}
