.customImage{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: unset;
    background-size: cover;
    object-fit: cover;
    object-position: 20%;

   background: 'rgb(222,0,255)';
   background-color: 'radial-gradient(circle, rgba(222,0,255,0.9724483543417367) 6%, rgba(46,1,1,1) 59%)';
   z-index: -1;
}
